<footer class="container-fluid">
	<div class="row">
		<div class="container">
			<ul class="footer-menu">
				<li><a href="#">legal-advice</a></li>
				<li><a href="#">accessibility</a></li>
				<li><a href="#">web-map</a></li>
				<li><a href="#">contact</a></li>
				<li><a href="#">faq</a></li>
			</ul>
			<hr />
			<ul>
    			<li><i class="fab fa-apple"></i></li>
				<li><i class="fab fa-angular"></i></li>
				<li><i class="fas fa-bug"></i></li>
			</ul>
			<p>
				&copy; Copyright Angular-Lion
			</p>
		</div>
	</div>
</footer>
