<div ngbDropdown
    placement="bottom-right"
    class="d-inline-block"
    #userInfoDropdown="ngbDropdown">
    <div ngbDropdownToggle>
        <p>
            <span>Lionel Tolosa</span>
            <span>Admin</span>
        </p>
    </div>
    <div ngbDropdownMenu>
        <button class="dropdown-item">
            Description
        </button>
        <button class="dropdown-item">
            Manager-agenda
        </button>
        <button class="dropdown-item">
            Communication-manager
        </button>
        <button class="dropdown-item icon-help">
            Help
        </button>
        <button class="dropdown-item icon-login">
            Exit
        </button>
    </div>
</div>
