<footer >
    <div class="container">
        <div class="row pt-60">
            <div class="col-lg-3 col-sm-6">
                <div class="content-list">
                    <h6>Top Product</h6>
                    <ul class="footer-nav">
                        <li><a href="#">Managed Website</a></li>
                        <li><a href="#">Manage Reputation</a></li>
                        <li><a href="#">Power Tools</a></li>
                        <li><a href="#">Marketing Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="content-list">
                    <h6>Navigation</h6>
                    <ul class="footer-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Main Features</a></li>
                        <li><a href="#">Offered Services</a></li>
                        <li><a href="#">Latest Portfolio</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="content-list">
                    <h6>Compare</h6>
                    <ul class="footer-nav">
                        <li><a href="#">Works & Builders</a></li>
                        <li><a href="#">Works & Wordpress</a></li>
                        <li><a href="#">Works & Templates</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="content-list">
                    <h6>Quick About</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consecteturadipisicin gelit, sed do eiusmod tempor incididunt.
                    </p>
                    <p>
                        +00 012 6325 98 6542 <br>
                        support@colorlib.com
                    </p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center">
            <small class="footer-text m-0">Copyright All rights reserved | Lionel Tolosa </small>
        </div>
    </div>
</footer>
